.brand {
  color: #34495e;
}
.site-meta {
  background: #f1c40f;
}

.site-subtitle {
  color: #34495e;
}

b,
strong {
  font-weight: bolder;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  opacity: 0.9;
  margin: 0 0.1rem;
  background: linear-gradient(to bottom, #fdf5db, #fae7e2);
  color: #222;
}

code {
  /* font-weight: bolder; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 0.1rem 0.2rem 0.2rem;
  border-radius: 0.2rem;
  opacity: 0.9;
  margin: 0 0.3rem;
  background: linear-gradient(to right, #cff0ff, #afcafd);
  color: #000;
}
