.brand {
    color: #34495e;
}
.site-meta{
	background: #f1c40f;
}

.site-subtitle{
	color: #34495e;
}

b, strong {
    font-weight: bolder;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
    opacity: .9;
    margin: 0 .3rem;
    background: linear-gradient(to right,#cff0ff,#afcafd);
    color: #000;
}
