.brand {
  color: #34495e;
}
.site-meta {
  background: #f1c40f;
}

.site-subtitle {
  color: #34495e;
}

b,
strong {
  font-weight: bolder;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  opacity: 0.9;
  margin: 0 0.1rem;
  background: linear-gradient(to bottom, #fdf5db, #fae7e2);
  color: #222;
}

code {
  /* font-weight: bolder; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 0.1rem 0.2rem 0.2rem;
  border-radius: 0.2rem;
  opacity: 0.9;
  margin: 0 0.3rem;
  background: linear-gradient(to right, #cff0ff, #afcafd);
  color: #000;
}

/* p {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 10px;
  line-height: 2.2;
  letter-spacing: 1px;
  font-size: 16px;
  word-spacing: 0.1em;
  margin: 18px 0; 
  color: #222222;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
} */

/* h2 {
  position: relative;
  margin: 18px 0;
  padding-left: 12px;
  border-left:10px #f85959 solid;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  color: #222222;
} */
/* h3 {
  position: relative;
  margin: 18px 0;
  padding-left: 12px;
  border-left:6px #f85959 solid;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  color: #222222;
}
h4 {
  font-size: 16px;
  color: rgb(165,213,93);
} */